{:db-port "35432"
 :db-name "bonus2"
 :db-user "shun"
 :db-password "smilehu"
 :jdbc-url #format ["jdbc:postgresql://localhost:%s/%s?user=%s&password=%s"
                    #ref [:db-port]
                    #ref [:db-name]
                    #ref [:db-user]
                    #ref [:db-password]]
 :database-uri #profile {:default #env JDBC_DATABASE_URL
                         :dev #or [#env JDBC_DATABASE_URL
                                   #ref [:jdbc-url]]}
 :migration-dir "migrations"
 :schema-path "schema.edn"

 :migratus {:store :database
            :migration-dir #ref [:migration-dir]
            :db {:connection-uri #ref [:database-uri]}}

 :components
 {:meta-db
  {:start
   (hodur-translate.core/init-db (hodur-translate.utils/read-schema #ref [:schema-path]))}}}
